/* app/assets/css/main.css */
@import 'tailwindcss';
@import '@nuxt/ui';

@source "../../../content/**/*";

@theme static {
  --font-sans: 'PermadiBody', sans-serif;
  --font-title: 'PermadiHeading', sans-serif;

  --breakpoint-3xl: 1920px;

  --color-brand-50: #f0fdfa;
  --color-brand-100: #ccfbf2;
  --color-brand-200: #99f6e4;
  --color-brand-300: #5eeacf;
  --color-brand-400: #2bd4b5;
  --color-brand-500: #14b898;
  --color-brand-600: #0d947a;
  --color-brand-700: #0f7662;
  --color-brand-800: #115e4f;
  --color-brand-900: #134e43;
  --color-brand-950: #042f27;

  --color-gray-50: oklch(0.985 0.002 181.171);
  --color-gray-100: oklch(0.967 0.003 182.411);
  --color-gray-200: oklch(0.928 0.006 180.489);
  --color-gray-300: oklch(0.872 0.01 178.161);
  --color-gray-400: oklch(0.707 0.022 176.394);
  --color-gray-500: oklch(0.551 0.027 173.996);
  --color-gray-600: oklch(0.446 0.03 174.144);
  --color-gray-700: oklch(0.373 0.034 174.902);
  --color-gray-800: oklch(0.278 0.033 175.919);
  --color-gray-900: oklch(0.21 0.034 177.678);
  --color-gray-950: oklch(0.13 0.028 177.019);

  --color-slate-50: #f8fafa;
  --color-slate-100: #eff6f5;
  --color-slate-200: #deeae9;
  --color-slate-300: #c5d9d7;
  --color-slate-400: #84a8a4;
  --color-slate-500: #537c77;
  --color-slate-600: #375c58;
  --color-slate-700: #224844;
  --color-slate-800: #0a2f2c;
  --color-slate-900: #001e1c;
  --color-slate-950: #000c0a;

  --color-yellow-50: #ffffff;
  --color-yellow-100: #fffefd;
  --color-yellow-200: #fdeed6;
  --color-yellow-300: #fcddaf;
  --color-yellow-400: #facd87;
  --color-yellow-500: #f9bc60;
  --color-yellow-600: #f7a52a;
  --color-yellow-700: #e08a08;
  --color-yellow-800: #aa6906;
  --color-yellow-900: #744804;
  --color-yellow-950: #593703;

  --color-blue-50: #f0f9ff;
  --color-blue-100: #e0f2fe;
  --color-blue-200: #bae6fd;
  --color-blue-300: #7dd3fc;
  --color-blue-400: #38bdf8;
  --color-blue-500: #0ea5e9;
  --color-blue-600: #0284c7;
  --color-blue-700: #0369a1;
  --color-blue-800: #075985;
  --color-blue-900: #0c4a6e;
  --color-blue-950: #082f49;

  --color-red-50: #fefbfb;
  --color-red-100: #fbeaea;
  --color-red-200: #f5c8c8;
  --color-red-300: #eea6a6;
  --color-red-400: #e88384;
  --color-red-500: #e16162;
  --color-red-600: #d83233;
  --color-red-700: #b02123;
  --color-red-800: #811919;
  --color-red-900: #521010;
  --color-red-950: #3a0b0b;

  --color-green-50: #eefbf4;
  --color-green-100: #d7f4e3;
  --color-green-200: #b1e9ca;
  --color-green-300: #7fd6ad;
  --color-green-400: #4abd8a;
  --color-green-500: #2cb67d;
  --color-green-600: #198258;
  --color-green-700: #146849;
  --color-green-800: #12533c;
  --color-green-900: #104432;
  --color-green-950: #08261d;

  --color-purple-50: #f7f5fd;
  --color-purple-100: #f0edfa;
  --color-purple-200: #e4ddf7;
  --color-purple-300: #cec2f0;
  --color-purple-400: #b69ee7;
  --color-purple-500: #a786df;
  --color-purple-600: #8c59ce;
  --color-purple-700: #7c47ba;
  --color-purple-800: #673b9c;
  --color-purple-900: #563280;
  --color-purple-950: #361f56;

  --text-g0: clamp(0.5rem, 0.618vw, 0.618rem);
  --text-g0--line-height: 1.2;
  --text-g0--letter-spacing: -0.01em;

  --text-g1: clamp(0.8rem, 1vw, 1rem);
  --text-g1--line-height: 1.5;
  --text-g1--letter-spacing: -0.01em;

  --text-g2: clamp(1.2rem, 1.618vw, 1.618rem);
  --text-g2--line-height: 1.4;
  --text-g2--letter-spacing: -0.015em;

  --text-g3: clamp(1.8rem, 2.618vw, 2.618rem);
  --text-g3--line-height: 1.3;
  --text-g3--letter-spacing: -0.02em;

  --text-g4: clamp(2.618rem, 4.236vw, 4.236rem);
  --text-g4--line-height: 1.2;
  --text-g4--letter-spacing: -0.025em;

  --text-g5: clamp(4.236rem, 6.854vw, 6.854rem);
  --text-g5--line-height: 1.1;
  --text-g5--letter-spacing: -0.03em;

  --text-g6: clamp(6.854rem, 11.09vw, 11.09rem);
  --text-g6--line-height: 1;
  --text-g6--letter-spacing: -0.035em;

  /* --drop-shadow-1: 2px 2px 0px rgb(4, 47, 46);
  --drop-shadow-2: 4px 4px 0px rgba(4, 47, 46, 1);
  --drop-shadow-3: 6px 6px 0px rgba(4, 47, 46, 1);
  --drop-shadow-1gelap: 2px 2px 0px rgba(0, 0, 0, 1);
  --drop-shadow-2gelap: 4px 4px 0px rgba(0, 0, 0, 1);
  --drop-shadow-3gelap: 6px 6px 0px rgba(0, 0, 0, 1); */

  --aspect-video: 16 / 9;
  --aspect-photo: 3 / 2;
  --aspect-profile: 1 / 1;
  --aspect-article: 5 / 3;
  --aspect-thumbnail: 4 / 3;
}

h1,
h2,
h4,
h5,
h6 {
  @apply font-title text-brand-900 dark:text-yellow-500;
}

h3 {
  @apply font-title; /* hanya font, biarkan warna diatur AppConfig */
}

body {
  @apply text-gray-600 dark:text-gray-200 font-sans;
}
