@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
 --font-sans: 'PermadiBody', sans-serif;
  --font-title: 'PermadiHeading', sans-serif;

  --breakpoint-3xl: 1920px;

  --color-permadi-50: #f0fdfa;
  --color-permadi-100: #ccfbf1;
  --color-permadi-200: #99f6e4;
  --color-permadi-300: #5eead4;
  --color-permadi-400: #2dd4bf;
  --color-permadi-500: #14b8a6;
  --color-permadi-600: #0d9488;
  --color-permadi-700: #0f766e;
  --color-permadi-800: #115e59;
  --color-permadi-900: #134e4a;
  --color-permadi-950: rgb(4, 47, 46);

  --color-gray-50: #f4f8fa;
  --color-gray-100: #e5edf4;
  --color-gray-200: #d2e0eb;
  --color-gray-300: #b2cdde;
  --color-gray-400: #90b4ce;
  --color-gray-500: #7299bf;
  --color-gray-600: #5f84b1;
  --color-gray-800: #495f84;
  --color-gray-900: #3e4f6a;
  --color-gray-950: #293242;

  --color-yellow-50: #ffffff;
  --color-yellow-100: #fffefd;
  --color-yellow-200: #fdeed6;
  --color-yellow-300: #fcddaf;
  --color-yellow-400: #facd87;
  --color-yellow-500: #f9bc60;
  --color-yellow-600: #f7a52a;
  --color-yellow-700: #e08a08;
  --color-yellow-800: #aa6906;
  --color-yellow-900: #744804;
  --color-yellow-950: #593703;

  --color-blue-50: #f0f9ff;
  --color-blue-100: #e0f2fe;
  --color-blue-200: #bae6fd;
  --color-blue-300: #7dd3fc;
  --color-blue-400: #38bdf8;
  --color-blue-500: #0ea5e9;
  --color-blue-600: #0284c7;
  --color-blue-700: #0369a1;
  --color-blue-800: #075985;
  --color-blue-900: #0c4a6e;
  --color-blue-950: #082f49;

  --color-red-50: #fefbfb;
  --color-red-100: #fbeaea;
  --color-red-200: #f5c8c8;
  --color-red-300: #eea6a6;
  --color-red-400: #e88384;
  --color-red-500: #e16162;
  --color-red-600: #d83233;
  --color-red-700: #b02123;
  --color-red-800: #811919;
  --color-red-900: #521010;
  --color-red-950: #3a0b0b;

  --color-green-50: #eefbf4;
  --color-green-100: #d7f4e3;
  --color-green-200: #b1e9ca;
  --color-green-300: #7fd6ad;
  --color-green-400: #4abd8a;
  --color-green-500: #2cb67d;
  --color-green-600: #198258;
  --color-green-700: #146849;
  --color-green-800: #12533c;
  --color-green-900: #104432;
  --color-green-950: #08261d;

  --color-purple-50: #f7f5fd;
  --color-purple-100: #f0edfa;
  --color-purple-200: #e4ddf7;
  --color-purple-300: #cec2f0;
  --color-purple-400: #b69ee7;
  --color-purple-500: #a786df;
  --color-purple-600: #8c59ce;
  --color-purple-700: #7c47ba;
  --color-purple-800: #673b9c;
  --color-purple-900: #563280;
  --color-purple-950: #361f56;

  --text-g0: clamp(0.5rem, 0.618vw, 0.618rem);
  --text-g0--line-height: 1.2;
  --text-g0--letter-spacing: -0.01em;

  --text-g1: clamp(0.8rem, 1vw, 1rem);
  --text-g1--line-height: 1.5;
  --text-g1--letter-spacing: -0.01em;

  --text-g2: clamp(1.2rem, 1.618vw, 1.618rem);
  --text-g2--line-height: 1.4;
  --text-g2--letter-spacing: -0.015em;

  --text-g3: clamp(1.8rem, 2.618vw, 2.618rem);
  --text-g3--line-height: 1.3;
  --text-g3--letter-spacing: -0.02em;

  --text-g4: clamp(2.618rem, 4.236vw, 4.236rem);
  --text-g4--line-height: 1.2;
  --text-g4--letter-spacing: -0.025em;

  --text-g5: clamp(4.236rem, 6.854vw, 6.854rem);
  --text-g5--line-height: 1.1;
  --text-g5--letter-spacing: -0.03em;

  --text-g6: clamp(6.854rem, 11.09vw, 11.09rem);
  --text-g6--line-height: 1;
  --text-g6--letter-spacing: -0.035em;

  --drop-shadow-1: 2px 2px 0px rgb(4, 47, 46);
  --drop-shadow-2: 4px 4px 0px rgba(4, 47, 46, 1);
  --drop-shadow-3: 6px 6px 0px rgba(4, 47, 46, 1);
  --drop-shadow-1gelap: 2px 2px 0px rgba(0, 0, 0, 1);
  --drop-shadow-2gelap: 4px 4px 0px rgba(0, 0, 0, 1);
  --drop-shadow-3gelap: 6px 6px 0px rgba(0, 0, 0, 1);

  --aspect-video: 16 / 9;
  --aspect-photo: 3 / 2;
  --aspect-profile: 1 / 1;
  --aspect-article: 5 / 3;
  --aspect-thumbnail: 4 / 3;
}

:root {
	--ui-primary: var(--ui-color-primary-500);
	--ui-secondary: var(--ui-color-secondary-500);
	--ui-success: var(--ui-color-success-500);
	--ui-info: var(--ui-color-info-500);
	--ui-warning: var(--ui-color-warning-500);
	--ui-error: var(--ui-color-error-500);

	--ui-text-dimmed: var(--ui-color-neutral-400);
	--ui-text-muted: var(--ui-color-neutral-500);
	--ui-text-toned: var(--ui-color-neutral-600);
	--ui-text: var(--ui-color-neutral-700);
	--ui-text-highlighted: var(--ui-color-neutral-900);
	--ui-text-inverted: white;

	--ui-bg: white;
	--ui-bg-muted: var(--ui-color-neutral-50);
	--ui-bg-elevated: var(--ui-color-neutral-100);
	--ui-bg-accented: var(--ui-color-neutral-200);
	--ui-bg-inverted: var(--ui-color-neutral-900);

	--ui-border: var(--ui-color-neutral-200);
	--ui-border-muted: var(--ui-color-neutral-200);
	--ui-border-accented: var(--ui-color-neutral-300);
	--ui-border-inverted: var(--ui-color-neutral-900);
}

.dark {
	--ui-primary: var(--ui-color-primary-400);
	--ui-secondary: var(--ui-color-secondary-400);
	--ui-success: var(--ui-color-success-400);
	--ui-info: var(--ui-color-info-400);
	--ui-warning: var(--ui-color-warning-400);
	--ui-error: var(--ui-color-error-400);

	--ui-text-dimmed: var(--ui-color-neutral-500);
	--ui-text-muted: var(--ui-color-neutral-400);
	--ui-text-toned: var(--ui-color-neutral-300);
	--ui-text: var(--ui-color-neutral-200);
	--ui-text-highlighted: white;
	--ui-text-inverted: var(--ui-color-neutral-900);

	--ui-bg: var(--ui-color-neutral-900);
	--ui-bg-muted: var(--ui-color-neutral-800);
	--ui-bg-elevated: var(--ui-color-neutral-800);
	--ui-bg-accented: var(--ui-color-neutral-700);
	--ui-bg-inverted: white;

	--ui-border: var(--ui-color-neutral-800);
	--ui-border-muted: var(--ui-color-neutral-700);
	--ui-border-accented: var(--ui-color-neutral-700);
	--ui-border-inverted: white;
}

body {
  @apply bg-permadi-50 dark:text-permadi-100 text-permadi-900 dark:bg-permadi-950 font-sans  font-[350] text-[18px] leading-tight tracking-wide;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply antialiased  font-title   text-permadi-950 font-semibold dark:text-yellow-500;
}

::selection {
  @apply bg-blue-900 text-blue-400;
}
